@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-6">
        <h2>Considerações</h2>
        <p>
            - Net Framework 4.6.1 <br />
            - Entity Framework 6.0.0 <br />
            - MySql Version 6.9.5 <br />
            - Mvc / WebApi <br />
            - jQuery / jqGrid <br />
        </p>
    </div>
</div>